@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.js-scroll {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s;
}

.js-scroll.animation-scroll-left {
  opacity: 1;
  transform: translateX(0);
}