.stand-out {
  position: relative;
  top: -3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.stand-out-text {
  padding: 0 2rem;
  margin: 0 auto;
}

.stand-out-text h1 {
  font-size: 3rem;
  color: hsl(212, 27%, 19%);
  font-weight: bold;
  font-family: 'Fraunces', sans-serif;
}

.stand-out-text p {
  font-size: 1rem;
  color: hsl(210, 4%, 67%);
  font-family: sans-serif;
  padding: .5rem 0 2rem 0;
}

.stand-out-text a {
  color: hsl(212, 27%, 19%);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: 'Fraunces', sans-serif;
}

.stand-out-text a:hover {
  color:  hsl(7, 99%, 70%);
}

.stand-out-text a::after {
  content: "";
  width: 130px;
  height: 6px;
  display: block;
  background-color: hsl(7, 99%, 70%);
  opacity: 0.4;
  position: relative;
  top: -7px;
  z-index: -1;
}

@media (max-width:768px) {
  .stand-out {
    grid-template-columns: 1fr;
  }

  
  .stand-out-text {
    padding: 2rem 1rem;
    text-align: center;
  }

  .stand-out-text a::after {
    margin: 0 auto;
  }

  .stand-out-image img {
    height: 450px;
  }
}