 .testimonials {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
 }

 .testimonials h1 {
  font-family: 'Fraunces', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: hsl(210, 4%, 67%);
  margin-bottom: 100px;
 }

 .clients {
  display: flex;
  gap: 2rem;
  text-align: center;
 }

 .clients li img {
  margin: 0 auto;
  width: 80px;
  border-radius: 50%;
 }

 .clients li .feedback {
  font-size: 1rem;
  color: hsl(212, 27%, 19%);
  line-height: 1.5;
  font-family: sans-serif;
  padding: 3rem 1.5rem;
 }

 .clients li h2 {
  font-size: 1.5rem;
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', sans-serif;
 }

 .clients li .job-client {
  padding-top: 1rem;
  font-size: 1rem;
  color: hsl(210, 4%, 67%);
  font-family: sans-serif;
 }

 .change-slide {
  display: none;
 }

 @media (max-width:768px) {
  .testimonials {
    overflow: hidden;
  }

  .clients {
    display: flex;
    gap: 2rem;
    text-align: center;
   }

   .clients li {
    width: 100%;
    padding: 0 1rem;
    flex-shrink: 0;
   }

   .change-slide {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
   }

   .change-slide span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(212, 27%, 19%);
   }
 }